.my-modal {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.my-modal > div {
    height: 150;
    width: 240;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px solid black;
}